*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav ul li a{
text-decoration: none;
color: black;
}
#img{
    height: 100px;
    width: 100px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: white;
    position: sticky;
    width: 100%;
}
li{
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
    text-decoration-line: none;
    list-style: none;
}
#button{
    background-color:rgb(223, 73, 18); 
    border: none; 
    color: white; 
    padding: 5px 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
}

.body{
    background-image: url(./assets/image1.jpg);
    height: 100%;
    width: 100%;
}
#title{
padding-top: 220px;
padding-right: 50px;
padding-left: 50px;
font-family: "Lobster", sans-serif;
font-weight: 400;
font-style: normal;
 color: white;
 line-height: 40px;
  }
  #para{
    padding-left: 50px;
  }
 .button{
    padding-left: 50px;
    padding-top: 50px;
    margin: 10px;
    padding-bottom: 150px;
 }
 .icon{
    height: 30px;
    width: 30px;
 }

  /* About page */
 .aboutpage{
    background-image: url(./assets/image2.jpg);
    background-size:cover;
    height: 400px;
}
#Aboutpage{
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
  color: white;
  padding-left: 150px;
  padding-top: 150px;
  padding-bottom: 70px;
}
#link{
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 70px;
    color: orangered;
    text-decoration: none;
    margin-inline: 1px;
}
.aboutus{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.CEO{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.teacher{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.mainphoto{
    background-image: url(./assets/about1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   height: 450px;
   width: 65%;
   border-radius: 100%;
   border: 10px solid pink;
   position: relative;
   margin-bottom: 100px;
   
}
.photoof2{
    display: flex;
    bottom: -90px;
    position: absolute;
    gap: 40px;
    left: -60px;
}
#photo2{
    border-radius: 50%;
    height: 250px;
    border: 10px solid pink;
    z-index:1;
    top: 30px;
}
#photo3{
    border-radius: 50%;
    height: 250px;
    border: 10px solid pink;
    z-index: 1;
}
#Popular{
    justify-content: center;
    align-items: center;
}
#teachersphoto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* #one{
    background-image: url(./assets/teacher1.jpg);
    border: 2px solid pink;
    background-size: cover;
    border-radius: 60%;
    height: 400px;
    width: 250px;; */
/* } */
.teachersphoto{
    position: relative;
     background-image: url('./assets/teacher1.jpg');
      height: 400px; 
      background-repeat: none;
       background-size: cover;
        width: 250px;
         border-radius: 50%;
}
.one{
    position: absolute;
     bottom: 0;
      right: 0;
       border: 4px solid orangered;
        border-radius: 50%; 
        height: 130px;
}
 /* footer */
 footer{background-color: #103741;
margin: 10px;}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr ;
}
.quicklinks{
    padding-top: 50px;

}
.quicklinks a{
    text-decoration: none;
}
.quicklinks ul{
    display: grid;
}
.gallery-container {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 150px;


}
.gallery-container h3 {
    margin-bottom: 20px;
}
.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border: 40px;
    border-color: azure;
}
.images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
h3{
    color: whitesmoke;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.location{
    padding-top: 50px;
    padding-bottom: 50px;
}
.container{
    padding-top: 50PX;
}
/* classes page */
.schools{
    text-align: center;
    padding-top: 50px;
}
.classess{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding-top: 50px;
}
.Agetime{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.colormanagement{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding-top: 50px;
}
.Appoinment{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
form input{ 
    height: 40px;
    border-radius: 10px;
    border: 2px solid pink;
}
.Clients{
    display: grid;
    grid-template-columns: 1fr 1fr;
}