*{
    padding: 0%;
    margin: 0%;
}
nav ul li a{
text-decoration: none;
color: black;
}
#img{
    height: 100px;
    width: 100px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: white;
}
li{
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
    text-decoration-line: none;
    list-style: none;
}
#button{
    background-color:rgb(223, 73, 18); 
    border: none; 
    color: white; 
    padding: 5px 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
}

.body{
    background-image: url(./assets/image1.jpg);
    height: 100%;
    width: 100%;
}
#title{
padding-top: 220px;
padding-right: 50px;
padding-left: 50px;
 font-family: "Ga Maamli", sans-serif;
 font-weight: 600;
 font-style: normal;
 color: white;
 line-height: 40px;
  }
  #para{
    padding-left: 50px;
  }
 .button{
    padding-left: 50px;
    padding-top: 50px;
    margin: 10px;
    padding-bottom: 150px;
 }
 .icon{
    height: 30px;
    width: 30px;
 }

  /* About page */
 .aboutpage{
    background-image: url(./assets/image2.jpg);
    background-size: cover;
    height: 500px;
}
#Aboutpage{
    font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 70px;
}
#link{
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 70px;
    color: orangered;
    text-decoration: none;
    margin-inline: 1px;
    
}
 /* footer */
 footer{background-color: #103741;
margin: 10px;}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr ;
}
.quicklinks{
    padding-top: 50px;

}
.quicklinks a{
    text-decoration: none;
}
.quicklinks ul{
    display: grid;
}
.gallery-container {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 150px;


}
.gallery-container h3 {
    margin-bottom: 20px;
}
.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border: 40px;
    border-color: azure;
}
.images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
h3{
    color: whitesmoke;
    font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.location{
    padding-top: 50px;
    padding-bottom: 50px;
}
.container{
    padding-top: 50PX;
}